//Variables
//	Colors
$orange: #eaae43
$brown: #960002
$white: #ffffff

//создать миксин фона

body
	min-width: 325px

//NAV

.nav-pets
	background: $white !important
	height: 75px
	line-height: 75px

.nav-pets--color
	background: linear-gradient(to top right, #960002, #eaae43, #960002) !important

.main-menu__logo
	padding: 5px 0 !important

.main-menu__item
	font-size: 20px
	color: $orange !important
	text-transform: uppercase
	display: inline-block !important
	margin-right: 10px
	margin-top: 24px !important
	padding: 5px 10px !important
	&:hover,
	&:focus
		text-decoration: none
		color: $white !important
		background-color: $orange !important
		border-radius: 3px

.main-menu__flag
	display: inline-block !important
	margin-left: 40px

.main-menu__list
	li
		z-index: 1000
	

//HEADER

header
	height: 600px
	background-image: url("../img/main.jpg")
	background-size: cover

//PETS

.pets
	padding: 60px 0 50px 0

//HAPPYEND

.happyend
	background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002)

.happyend-story
	display: flex
	justify-content: space-around
	width: 100%
	flex-wrap: wrap
	padding: 10px 0

.happyend-story__part
	margin: 10px
	img
		width: 350px

.happyend__link
	&:hover
		text-decoration: none

//NEWS

.news
	padding-top: 40px
    
.news__icon
	font-size: 100px !important
	float: left
	margin-bottom: 80px
    
//ABOUT

.about
	background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002)
	padding: 10px 0 30px

.about__image
	float: left
	margin: 0 25px 20px 0

.about__text
	font-size: 18px
	text-align: justify

//STAFF

.staff,
.pets
	text-align: center

.staff__tittle
	color: $orange
	text-align: center
	text-transform: uppercase

.staff__image
	width: 65%

.staff__image--small
	width: 25%
	float: left
	margin-bottom: 25px

.staff__info
	font-size: 12px

.staff__name
	font-size: 24px

//FOOTER

.footer
	background: linear-gradient(to top right, #960002, #eaae43, #960002)

.footer__icon
	font-size: 40px !important
	float: left
	margin-right: 10px

.info
	text-align: center

.info__text
	color: $brown
	font-size: 16px
	padding-bottom: 20px

.address
	font-size: 16px
	color: $brown

.map
	width: 85%

.login
	width: 100%
	height: 100vh
	background: linear-gradient(to top right, #960002, #eaae43, #960002)
	display: flex
	align-items: center
	justify-content: center