.pets--white
    padding-top: 40px
.pets__name
    height: 130px
    width: 85%
    background-color: #FFCC33
    border-radius: 10px
    margin-bottom: 30px
    color: #960002
    font-size: 20px
    padding: 5px 10px
.pets__history
    height: 260px
    width: 100%
    background-color: #FFCC33
    border-radius: 10px
    margin-bottom: 30px
    color: #960002
    font-size: 20px
    padding: 5px 10px
.pets__foto
    width: 85%
.pets__foto--small
    width: 70%
.pets__img
    text-align: center
.pets__btn
    font-size: 18px
    text-transform: uppercase
    color: #FFCC33
    background-color: #960002
    border: 1px solid #960002
    border-radius: 4px
    padding: 5px 20px
    margin: 10px
.pets--yellow
    background-color: #FFCC33
.pets__name--invert,
.pets__history--invert
    background-color: white
.vet__blog
    width: 100%
    height: 100px
    background-color: #FFCC33
    border-radius: 10px
    margin-bottom: 30px
    color: #960002
    font-size: 16px
    padding: 5px 10px
.vet__blog--invert
    background-color: white
.slider
    width: 95%