body {
  min-width: 325px; }

.nav-pets {
  background: #ffffff !important;
  height: 75px;
  line-height: 75px; }

.nav-pets--color {
  background: linear-gradient(to top right, #960002, #eaae43, #960002) !important; }

.main-menu__logo {
  padding: 5px 0 !important; }

.main-menu__item {
  font-size: 20px;
  color: #eaae43 !important;
  text-transform: uppercase;
  display: inline-block !important;
  margin-right: 10px;
  margin-top: 24px !important;
  padding: 5px 10px !important; }
  .main-menu__item:hover, .main-menu__item:focus {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #eaae43 !important;
    border-radius: 3px; }

.main-menu__flag {
  display: inline-block !important;
  margin-left: 40px; }

.main-menu__list li {
  z-index: 1000; }

header {
  height: 600px;
  background-image: url("../img/main.jpg");
  background-size: cover; }

.pets {
  padding: 60px 0 50px 0; }

.happyend {
  background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002); }

.happyend-story {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 0; }

.happyend-story__part {
  margin: 10px; }
  .happyend-story__part img {
    width: 350px; }

.happyend__link:hover {
  text-decoration: none; }

.news {
  padding-top: 40px; }

.news__icon {
  font-size: 100px !important;
  float: left;
  margin-bottom: 80px; }

.about {
  background: linear-gradient(to top right, #960002, #eaae43, #eaae43, #960002);
  padding: 10px 0 30px; }

.about__image {
  float: left;
  margin: 0 25px 20px 0; }

.about__text {
  font-size: 18px;
  text-align: justify; }

.staff,
.pets {
  text-align: center; }

.staff__tittle {
  color: #eaae43;
  text-align: center;
  text-transform: uppercase; }

.staff__image {
  width: 65%; }

.staff__image--small {
  width: 25%;
  float: left;
  margin-bottom: 25px; }

.staff__info {
  font-size: 12px; }

.staff__name {
  font-size: 24px; }

.footer {
  background: linear-gradient(to top right, #960002, #eaae43, #960002); }

.footer__icon {
  font-size: 40px !important;
  float: left;
  margin-right: 10px; }

.info {
  text-align: center; }

.info__text {
  color: #960002;
  font-size: 16px;
  padding-bottom: 20px; }

.address {
  font-size: 16px;
  color: #960002; }

.map {
  width: 85%; }

.login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #960002, #eaae43, #960002);
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
