/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .nav-pets {
    height: 60px;
    line-height: 60px; }

  .main-menu__logo {
    padding: 0 !important; }
    .main-menu__logo img {
      width: 60px; }

  .main-menu__item {
    font-size: 14px;
    font-weight: bold;
    color: #eaae43 !important;
    margin-right: 5px;
    margin-top: 17px !important;
    padding: 4px 8px !important; }

  header {
    height: 450px; }

  .pets {
    padding: 30px 0; }

  .news {
    padding-top: 30px; }

  .staff__image {
    width: 55%; }

  .happyend-story__part img {
    width: 325px; }

  .pets__btn {
    font-size: 14px;
    padding: 3px 10px;
    margin: 10px; }

  .staff__image--small {
    width: 35%; }

  /* */ }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    /*CSS transitions */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms */
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

  .nav-pets {
    height: 50px;
    line-height: 50px; }

  .main-menu__logo {
    padding: 0 !important; }
    .main-menu__logo img {
      width: 50px; }

  .main-menu__item {
    font-size: 20px;
    font-weight: normal;
    color: #ffffff !important;
    margin-right: 0 !important;
    margin-top: 10px !important;
    padding: 10px 20px !important; }
    .main-menu__item:hover, .main-menu__item:focus {
      background-color: #e19919 !important; }

  .main-menu__list {
    margin: 0 -15px; }
    .main-menu__list li {
      background-color: #eaae43 !important;
      text-align: center; }
      .main-menu__list li:hover {
        background-color: #e19919 !important; }

  header {
    height: 400px; }

  .pets {
    padding-top: 0; }

  .staff__image {
    width: 35%; }

  .news__icon {
    margin-bottom: 50px;
    font-size: 60px !important; }

  .pets__foto {
    width: 45%; }

  .pets__foto--small {
    width: 50%; }

  .contacts {
    text-align: center; }

  .footer__icon--center {
    float: none; }

  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .staff__image {
    width: 60%; }

  .about__image {
    float: none;
    display: block;
    margin: 0 auto 25px; }

  /* */ }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }

/*# sourceMappingURL=media.css.map */
